/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #333;
}

h1 {
    font-size: 1.1em;
    color: #fbfbfb;
}

a {
    text-decoration: none;
    color: #1b98f8;
}

h1, h2, .upload-button {
    font-family: 'Gilroy', serif;
    font-weight: bold;
    font-style: normal;
}

h6 {
    font-family: 'Gilroy', serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 0.75em;
    margin-top: 5px;
    margin-bottom: 0;
}

h2 {
    color: #000119;
    font-size: 1.1em;
    margin: 0;
    letter-spacing: .6px;
}

h2 .file-extension {
    opacity: 0.4;
}


/*
 * -- HELPER STYLES --
 * Over-riding some of the .pure-button styles to make my buttons look unique
 */
.primary-button,
.secondary-button,
.upload-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.primary-button,
.secondary-button {
    border-radius: 20px;
}
.primary-button {
    color: #fff;
    background: #1b98f8;
    margin: 1em 0;
}
.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}
.upload-button {
    position: fixed;
    bottom: 2em;
    left: 20px;
    color: #fbfbfb;
    background: #e31419;
    line-height: 25px;
}
.upload-button img {
    margin-bottom: -4px;
}

/*
 * -- LAYOUT STYLES --
 * This layout consists of three main elements, `#nav` (navigation bar), `#list` (email list), and `#main` (email content). All 3 elements are within `#layout`
 */
#layout, #nav, #list, #main {
    position: static;
    margin: 0;
    padding: 0;
}

/* Make the navigation 100% width on phones */
#nav {
    width: 100%;
    height: 40px;
    position: relative;
    background: #000119;
    text-align: center;
}
/* Show the "Menu" button on phones */
#nav .nav-menu-button {
    display: block;
    top: 0.5em;
    right: 0.5em;
    position: absolute;
}

/* When "Menu" is clicked, the navbar should be 80% height */
#nav.active {
    height: 80%;
}
/* Don't show the navigation items... */
.nav-inner {
    display: none;
}

/* ...until the "Menu" button is clicked */
#nav.active .nav-inner {
    display: block;
    padding: 2em 0;
}


/*
 * -- NAV BAR STYLES --
 * Styling the default .pure-menu to look a little more unique.
 */
#nav .pure-menu {
    background: transparent;
    border: none;
    text-align: left;
    margin-top: 30px;
}
    #nav .pure-menu-link:hover,
    #nav .pure-menu-link:focus {
        background: rgb(55, 60, 90);
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }
    #nav .pure-menu-link {
        color: #fff;
        margin-left: 0.5em;
    }
    #nav .pure-menu-heading {
        color: #fbfbfb;
        margin-top: 15px;
        text-transform: none;
        border-bottom: none;
        font-size:110%;
        font-family: 'Gilroy', serif;
    }


/*
 * -- EMAIL STYLES --
 * Styles relevant to the email messages, labels, counts, and more.
 */
.email-count {
    color: rgb(75, 113, 151);
}

.bucket-icon {
    margin-bottom: -3px;
    width: 17px;
    height: 17px;
    display: inline-block;
    margin-right: 0.5em;
    background: url("../images/bucket.svg") no-repeat center;
    background-size: contain;
}

/* Email Item Styles */
.email-item {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
}
    .email-avatar {
        border-radius: 3px;
        margin-right: 0.5em;
    }
    .email-name,
    .email-subject {
        margin: 0;
    }
    .email-name {
        text-transform: uppercase;
        color: #999;
    }
    .email-desc {
        font-size: 80%;
        margin: 0.4em 0;
    }

.email-item-selected {
    background: #eee;
}
.email-item-unread {
    border-left: 6px solid #1b98f8;
}

/* Email Content Styles */
.email-content-header, .email-content-body, .email-content-footer {
    padding: 1em 2em;
    font-size: 0.9em;
}
    .email-content-header {
        border-bottom: 1px solid #ddd;
    }

        .email-content-title {
            margin: 0.5em 0 0;
        }
        .email-content-subtitle {
            font-size: 1em;
            margin: 0;
            font-weight: normal;
        }
            .email-content-subtitle span {
                color: #999;
            }
    .email-content-controls {
        margin-top: 2em;
        text-align: right;
    }
        .email-content-controls .secondary-button {
            margin-bottom: 0.3em;
        }

    .email-avatar {
        width: 40px;
        height: 40px;
    }

.nav-inner {
    height: 100%;
    box-sizing: border-box;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 40em) {

    /* Move the layout over so we can fit the nav + list in on the left */
    #layout {
        padding-left: calc(100vw - 300px);
        position: relative;
    }

    /* These are position:fixed; elements that will be in the left 500px of the screen */
    #nav, #list {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: auto;
    }
    #nav {
        margin-left: calc(-100vw + 300px); /* "left col (nav + list)" width */
        width:150px;
        height: 100%;
    }

    /* Show the menu items on the larger screen */
    .nav-inner {
        display: block;
        padding: 2em 0;
    }

    /* Hide the "Menu" button on larger screens */
    #nav .nav-menu-button {
        display: none;
    }

    #list {
        margin-left: calc(-100vw + 450px);
        width: calc(100vw - 450px);
        height: 100%;
        border-right: 1px solid #ddd;
    }

    #main {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: calc(100vw - 300px);
        overflow: auto;
        width: auto; /* so that it's not 100% */
    }
}